// GRID

@import 'base.styl'
@import 'settings.styl'

for i in range($gridMin, $gridMax, $gridStep)
	.grid-{i}
		float left
		display block
		width i+'%'
		height auto

.grid-full
	width $wrapperWidth + '%'

// .grid-max
// 	width $containerWidth + '%'
