// BASE

// $LAYOUT

$wrapperWidth = 100
$containerWidth = 70
$sectionPadding = 0

// $MEDIA $QUERIES

$mq1 = 1024px
$mq2 = 768px
$mq3 = 480px

// $COLORS

// name color
$colors = 'white' #ffffff,

          'gray-30' #f7fcfe,
          'gray-40' #ebebeb,
          'gray-50' #dbdbdb,
          'gray-60' #2f3e46,

          'blue-60' #0a5488,
          'blue-50' #0095c8,
          'blue-40' #5bc2e7,
          'blue-30' #ebf8fc,

          'orange-50' #ff7e00,
          'orange-60' #b75a00,

          'green-50' #008755,
          'green-60' #004129,
          'red-50' #ea393e;
$white = $colors[0][1]
$gray-30 = $colors[1][1]
$gray-40 = $colors[2][1]
$gray-50 = $colors[3][1]
$gray-60 = $colors[4][1]

$blue-60 = $colors[5][1]
$blue-50 = $colors[6][1]
$blue-40 = $colors[7][1]
$blue-30 = $colors[8][1]

$orange-50 = $colors[9][1]
$orange-60 = $colors[10][1]

$green-50 = $colors[11][1]
$green-60 = $colors[12][1]
$red-50 = $colors[13][1]

// $FONTS
// font-family src format font-style font-weight text-rendering
//font font-family ,file name

$fonts =  'cdn' 'cdn',
          'Times New Roman' 'TimesNewRoman',
          'Times New Roman' 'TimesNewRoman',
          'Times New Roman' 'TimesNewRoman',
          'Times New Roman' 'TimesNewRoman',
          'Times New Roman' 'TimesNewRoman',
          'fontAwesome' 'fontAwesome';



$fontWeights =  100,
                200,
                300,
                400,
                500,
                600,
                700,
                800,
                900;

// $GLOBAL

$bodyBkg = $white;
$bodyFont = $fonts[3][0]
$bodyFontSize = 14px
$bodyLineHeight = 1.45
$bodyFontColor = $gray-60
$bodyFontWeight = normal

// $MARK & $INS

$insFontColor = $gray-60
$insBkg = $white
$markFontColor = $gray-60
$markBkg = $white

// $P

$pMargin = 0 0 0.5em 0

// $UL $LISTS

$listPadding = 0
$listMargin = 0

// $HEADERS

$headerFont = $fonts[5][0]
$headerFontColor = $blue-50
$headerFontWeight = normal
$headerMargin = 0

// $H1

$h1FontSize = 2.75em
$h1FontWeight = $headerFontWeight
$h1Font = $headerFont
$h1FontColor = $headerFontColor
$h1Margin = $headerMargin

// $H2

$h2FontSize = 2.25em
$h2FontWeight = $headerFontWeight
$h2Font = $headerFont
$h2FontColor = $headerFontColor
$h2Margin = $headerMargin

// $H3

$h3FontSize = 1.5em
$h3FontWeight = $headerFontWeight
$h3Font = $headerFont
$h3FontColor = $headerFontColor
$h3Margin = $headerMargin

// $H4

$h4FontSize = 1.1em
$h4FontWeight = $headerFontWeight
$h4Font = $headerFont
$h4FontColor = $headerFontColor
$h4Margin = $headerMargin

// $H5

$h5FontSize = 1em
$h5FontWeight = $headerFontWeight
$h5Font = $headerFont
$h5FontColor = $headerFontColor
$h5Margin = $headerMargin

// $H6

$h6FontSize = 1em
$h6FontWeight = $headerFontWeight
$h6Font = $headerFont
$h6FontColor = $headerFontColor
$h6Margin = $headerMargin

// $STRONG

$strongFont = $fonts[5][0]
$strongFontColor = $bodyFontColor

// $A $LINK

$aColor = $blue-50
$aHoverColor = $blue-60
$aDecortion = none
